$black: #232323;
$green: #589b69;
$red: #9b5d58;
$white: #fffff;


.meme-list-item {
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 0px 0px 15px 10px rgba(250, 250, 250, 0.3);
}

.meme-text-image-container {
    p {
        color: $black;
        font-weight: bold;
    }
}

.meme-list-item-bar {
    background-color: #232323;
    padding: 2px;
    margin: 0px;

    .up-arrow,
    .down-arrow {
        height: 40px;
        background: transparent;
        border: none;
    }

    span {
        font-size: 45px;
        padding: 0 10px;
    }

    .up-arrow,
    .down-arrow,
    .delete-button,
    .twitter-share-button {
        &:hover {
            cursor: pointer;
        }
    }

    .meme-delete-button {
        display: inline-block;
        text-align: center;
        width: 65%;
        margin: 0 auto;
    }
}

.like-dislike-container {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}


.tweet-and-delete {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.twitter-share-button {
    display: inline-block;
    float: left;
    border: none;
    background:transparent;
    padding-top: 1px;
    margin:0 auto;

    .twitter-share-button img.twitter-share-image {
        height: 40px;
        width: 40px;
    }
}

.delete-button {
    -webkit-font-smoothing: antialiased;
    background-color: $white;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    margin-top: 3px;
    padding: 8px 1rem;
    border: 1px solid $green;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease-out;
 
    &:hover {
      background-color: $green;
    }
  
    &:focus {
      outline: none;
    }
  }

  