// COLOURS
$black: #232323; //rgb(35,35,35)
$dark-black: #000000;
$white: #fafafa;
$dark-yellow: #dad706; //rgb(217, 215, 5)
$light-yellow: #f8fb90; //rgb( 247, 251, 144);
$green: #589b69; //rgb(87, 155, 104)

// FONTS
$heading-font: "Fjalla One", sans-serif;
$body-font: "Lato", sans-serif;

//MARGINS/PADDING
$big-gap: 4rem;
$medium-gap: 2rem;
$small-gap: 1rem;
