// COLOURS
$black: #232323; //rgb(35,35,35)
$dark-black: #000000;
$white: #FAFAFA;
$dark-yellow:   #DAD706; //rgb(217, 215, 5)
$light-yellow: #F8FB90; //rgb( 247, 251, 144);
$green: #DAD706; //rgb(87, 155, 104)

// FONTS 
$heading-font: 'Fjalla One', sans-serif;
$body-font: 'Lato', sans-serif;

//MARGINS/PADDING
$big-gap: 4rem; 
$medium-gap: 2rem;
$small-gap: 1rem; 

