.gallery {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: $small-gap;
  }
}

.gallery-error {
  min-height: 50vh;
}

h2 {
  text-align: center;
  font-family: $heading-font;
  font-size: 3rem;
}

h2.heading-tertiary {
  text-shadow: 5px 5px #589b69;
}