.gallery {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: $small-gap;
  }
}

.gallery-error {
  min-height: 50vh;
}

h2 {
  text-align: center;
  font-family: $heading-font;
  font-size: 3rem;
}

.loading-container {
  text-align: center;

  .rotate-center {
    animation: rotate-center 1s linear infinite reverse both;
    width: 30%;
    text-align: center;
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-text {
    color: white;
  }
}