.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.header {
  background: $black;
  padding-top: $small-gap;

  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    clear: both;
    padding-top: $small-gap;
  }

  h2 {
    padding-bottom: $medium-gap;
  }
}

nav.header-nav {
  ul.clearfix {
    padding: 0;
    margin: 0;
    float: right;
    li:hover,
    li:focus,
    button:hover,
    button:focus {
      background: $dark-yellow;
    }

    li {
      list-style: none;
      margin: 0;
      float: left;
      margin-right: 10px;
      font-family: $body-font;
      height: 42px;
      padding: 5px;
      background: $green;
      border: 1px solid $white;
      font-size: 20px;
    }

    button {
      background: $green;
      height: 42px;
      float: left;
      color: $black;
      font-family: $body-font;
      font-size: 20px;
      padding: 5px;
    }
  }
}

nav a {
  text-decoration: none;
  color: $black;
  font-size: 20px;
}

label[for="userInput"] {
  min-width: calc(100% - 253px);
  p {
    text-align: center;
    margin: 0;
    padding-top: $small-gap;
    padding-bottom: $small-gap;
  }
}
