.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.header {
  background: $black;
  padding-top: $small-gap;
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    clear: both;
    padding-top: $small-gap;
    text-shadow: 6px 7px $green;
  }
}

nav.header-nav {
  ul.clearfix {
    padding: 0;
    margin: 0;
    float: right;
    margin: 1rem 0;
    li {
      list-style: none;
      margin: 0;
      float: left;
      margin-right: 10px;
    }
    &-button {
      float: left;
    }
  }
}

label[for="userInput"] {
  min-width: calc(100% - 253px);
  p {
    text-align: center;
    margin: 0;
    padding-top: $small-gap;
    font-family: $body-font;
    padding-bottom: $small-gap;
  }
}

@media (max-width: 1080px) {
  .heading-primary {
    font-size: 6rem;
  }
  .heading-secondary {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .heading-primary {
    font-size: 4rem;
  }
  .heading-secondary {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .heading-primary {
    font-size: 4rem;
  }
}