footer {
  text-align: center;
  background: $dark-black;
  color: $white;
  position: relative;

  a {
    text-decoration: none;
    color: $white;
    padding: 2px 0;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $green;
    }
  }
  
  p {
    margin: 0;
    padding-top: $small-gap;
    text-align: center;
    font-family: $body-font;

    .space {
      margin-right: $tiny-gap;
    }
  }
}