form.search-bar {
  margin-bottom: $big-gap;
  input {
    height: 50px;
    position: relative;
    width: calc(100% - 100px - 50px);
  } // modal
  .modal {
    z-index: 10;
    @include position(fixed, 0, 0, 0, 0);
    text-align: center;
    &-input-container {
      margin: $small-gap $medium-gap;
      text-align: left;
      width: 100%;
      margin: $small-gap 0;
      float: left;
      position: relative;
    }
    &-input {
      padding: $tiny-gap $small-gap;
      background: $white;
      float: left;
      border: none;
      border-bottom: 3px solid $green;
      border-radius: 2px;
      background-size: 1rem;
      background-position: 100% 80%;
      &:focus {
        background: $white;
        border-bottom: 3px solid $dark-yellow;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        outline: none;
      }
      &::placeholder {
        color: $black;
        font-family: $body-font;
      }
    }
    &-label {
      color: $white;
      font-size: 0.8rem;
      margin-left: 1rem;
      transition: all 0.3s;
      width: 50%;
      float: left;
    }
    &-input:placeholder-shown + &-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-1rem);
    }
  }
  select {
    width: 100px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 50px;
    font-family: $body-font;
  }
  .select-menu {
    -webkit-appearance: none;
    border-radius: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    height: 50px;
    background: url("assets/blackDownArrow.svg") 96% / 30px no-repeat $white;
  }
  button {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;
  }
  .search-bar-icon {
    width: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (translate(-50%, -50%));
  }
  p {
    text-align: center;
  }
}

.form-description {
  margin-bottom: $small-gap;
}

#canvas-complex {
  width: 100%;
  height: 100%;
}

.button-canvas {
  width: 50px;
  height: 50px;
  display: inline;
  position: absolute;
}
