form {
  input {
    height: 40px;
    width: calc(100% - 20% - 40px);
  }
  input:hover,
  input:focus,
  button:hover,
  button:focus {
    background: $dark-yellow;
  }
  select {
    width: 20%;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  button {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
  }
  .search-bar-icon {
    width: 18px;
  }
  p {
    margin: 0;
    font-family: $body-font;
    text-align: center;
  }
}

.form-description {
  margin-bottom: $small-gap;
}