.heading {
  font-family: $heading-font;
  margin: 0;
  padding: 0;
  &-primary {
    //h1
    font-size: 8rem;
  }
  &-secondary {
    //h2
    font-size: 1.8rem;
  }
}
.paragraph {
  //p
  margin: 0;
  padding: 0;
  &-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .heading {
    &-primary {
      font-size:3.5rem;
    }
  }
}

@media (max-width: 500px) {
  .heading {
    &-primary {
      font-size:2.7rem;
    }

    &-secondary {
      font-size:1.1rem;
    }
  }
}

@media (max-width:375px) {
  .heading {
    &-primary {
      font-size:2.2rem;
    }

    &-secondary {
      font-size:1rem;
    }
  }
}