.heading {
  font-family: $heading-font;
  margin: 0;
  padding: 0;
  &-primary {
    //h1
    font-size: 8rem;
  }
  &-secondary {
    //h2
    font-size: 1.8rem;
  }
  &-tertiary {
    font-size: 3rem;
    text-shadow: 5px 5px #589b69;
  }
}

.paragraph {
  //p
  margin: 0;
  padding: 0;
  &-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 1080px) {
  .heading {
    &-primary {
      font-size: 5rem;
    }
    &-secondary {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 800px) {
  .heading {
    &-primary {
      font-size: 4rem;
    }
    &-secondary {
      font-size: 1rem;
    }
  }
}

@media (max-width: 650px) {
  .heading {
    &-primary {
      font-size: 3.5rem;
    }
    &-secondary {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 550px) {
  .heading {
    &-primary {
      font-size: 3rem;
    }
    &-tertiary {
      font-size: 2rem;
    }
  }
}

@media (max-width: 420px) {
  .heading {
    &-primary {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 375px) {
  .heading {
    &-primary {
      font-size: 2.2rem;
    }
  }
}
